/* variables */

/* reset */

/* base styles */
* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(82, 120, 209);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 12px;
  /* border: 1px solid blue; */
}

/* fonts */

/* mobile styles */

/* small tablet */
@media screen and (min-width: 620px) {

}

/* large tablet / laptop */
@media screen and (min-width: 960px) {}

/* desktops */
@media screen and (min-width: 1200px) {}

.app-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.viewport {
  margin-top: 25px;
}

.side-panel {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: flex-start;
  width: 100px;
  border-right: black solid 1px;
  margin-right: 25px;
}

.side-panel-container {
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 250px;
  justify-content: center;
}

.side-panel-log,
.side-panel-mgmt {
  font-size: 45px;
}

.side-panel-text {
  margin-bottom: 25px;
  font-size: 12px;
}

.side-panel-log:active,
.side-panel-mgmt:active {
  transform: translateY(3px);
}

.viewport {
  width: 80%;
  /* border: 1px solid white; */
}



